body{
    margin: 0;
}

h1 {
    display: inline;
}

#shopping-site-body {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
}

#products-container {
    /* background-color: rgb(255, 195, 195); */
}

#cart {
    background-color: rgb(209, 209, 220);
}

.product {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
}

.image-container {
    height: 290px;
    width: 423px;
}

img{
    height: auto;
    width: 100%;
}

ul {
    list-style-type: disc;
  }

.product-details{
    display: flex;
    flex-direction: column;
}

.product-price {
    display: flex; 
    justify-content: center; 
  }